EmptySteamDepot
steam_shader_cache
README.md
steam_appid.txt
_toolsautosave
core
dota
dota_russian
dota_schinese
thirdpartylegalnotices.txt
_toolsettings
bin
dota_koreana
dota_lv
adventure_example
barebones-source2
cavern
dota_imba-master
dungeon
frostivus_2017
hero_demo
holdout_example
jungle_spirits_2019
last_hit_trainer
lua_ability_example
new_bloom_2017
overthrow
overthrow2
overthrow3
rpg_example
tutorial_assist_game
tutorial_basics
ui_example
winter_2018
workshop_testbed
dota2cfg.cfg
addon_template
New folder (2)
dota_32
dota_33
New folder
barebones
dota_imba_reborn
