# Ignore everything
*

# Please don't ignore gitignore or README
!.gitignore
!README.md

# Now, whitelist anything that's a directory
!*/

# Recursively allow files under the folders we want
!/content/dota_addons/dota3/**
!/game/dota_addons/dota3/**
!/dota3documents/**